# Sum generation by unit over baseline periods. Also get average capacity factor over the same periods.

In [1]:
import mysql.connector
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_context("talk", rc={"font.size":16,"axes.titlesize":24,"axes.labelsize":20})

#### Fetch Data

In [2]:
server = mysql.connector.connect(user="apark2",
                                 password="Mindinmsight@1",
                                 host="127.0.0.1",
                                 database="widap")
# Seems to only want 1 connection at a time, for one user. Otherwise, Interface Error
query = server.cursor(buffered=True)

In [3]:
def getSumGen(orispl, unit, startYear, stopYear):
    sumGen = 'gen_' + str(startYear)[-2:] + '_' + str(stopYear)[-2:]
    query = """
            SELECT
                ORISPL_CODE,
                UNITID,
                SUM(gload * op_time) as `""" + sumGen + """`
            FROM
                widap.data
            WHERE ORISPL_CODE = """ + str(orispl) + """
                AND UNITID = '""" + str(unit) + """'
                AND SUBSTR(OP_DATE, 1, 4) >= """ + str(startYear) + """
                AND SUBSTR(OP_DATE, 1, 4) <= """ + str(stopYear)
    sumGen = pd.read_sql(query, server)
    return sumGen

In [4]:
getSumGen(55322, 'CTG-1', 2006, 2008).iloc[0]

ORISPL_CODE          55322
UNITID               CTG-1
gen_06_08      4.42315e+06
Name: 0, dtype: object

In [5]:
getSumGen(55322, 'CTG-1', 2006, 2008).iloc[0, -1]

4423153.720000002

In [6]:
df = pd.DataFrame(columns=['ORISPL_CODE', 'UNITID', 'gen_06_08', 'gen_15_17'])
row = getSumGen(55322, 'CTG-1', 2006, 2008).iloc[0]
row['gen_15_17'] = getSumGen(55322, 'CTG-1', 2015, 2017).iloc[0, -1]
df.append(row)

  ORISPL_CODE UNITID   gen_06_08   gen_15_17
0       55322  CTG-1  4423153.72  4828646.72

#### Calculate average capacity factor (CF) for all plants and units

Read in all ORISPL, UNITID.

In [7]:
WI_units = pd.read_csv('C:/Users/apark2/Documents/Year 2/Research/Analysis/Heat Rate Work/ORISPL_UNITID.csv')

In [8]:
WI_units.head()

   ORISPL_CODE UNITID
0            9  CTG-1
1           87      1
2          113      1
3          113      2
4          113      3

In [13]:
def saveAllSumGen(orispl_unit, BL1_start, BL1_stop, BL2_start, BL2_stop):
    """
    This function calculates two average capacity factors over separate baseline periods (BL) for each Western
    Interconnection (WI) generating unit. BL1_start, BL1_stop = Starting and stopping year over which average CFs are calculated.
    orispl_unit = DataFrame of plant_unit pairs in the WI
    """
    BL1 = 'gen_' + str(BL1_start)[-2:] + '_' + str(BL1_stop)[-2:]
    BL2 = 'gen_' + str(BL2_start)[-2:] + '_' + str(BL2_stop)[-2:]
    sumGen = pd.DataFrame(columns=['ORISPL_CODE', 'UNITID', BL1, BL2])
    
    for i, row in WI_units.iterrows():
        plant = row[0]
        unit = row[1]
        newRow = getSumGen(plant, unit, BL1_start, BL1_stop).iloc[0]
        newRow['gen_15_17'] = getSumGen(plant, unit, BL2_start, BL2_stop).iloc[0, -1]
        sumGen = sumGen.append(newRow)
        print(plant, unit)
    sumGen.to_csv('sumGen.csv', index=False)
    return sumGen

In [14]:
sumGen = saveAllSumGen(WI_units, 2006, 2008, 2015, 2017)

9 CTG-1
87 1
113 1
113 2
113 3
113 4
116 1
116 2
117 CC4
117 CC5A
117 CC5B
118 1
118 2
118 CT3
120 1
120 CT5
120 CT6
124 GT1
126 1
126 2
126 3
126 4
141 1
141 2
141 3
147 K-1
147 K-2
147 K-7
160 1
160 2
160 3
160 4
228 10
228 9
246 1
246 2
247 3
247 4
247 5
247 6
247 7
259 1
259 2
259 3
259 4
260 1A
260 2A
260 3A
260 4A
271 1
271 2
271 3
271 4
271 5
271 6
271 7
302 1
302 2
302 3
302 4
302 5
310 1
310 2
310 3
310 4
315 1
315 2
315 3
315 4
315 5
315 6
329 1
329 2
329 31
329 32
329 41
329 42
330 1
330 2
330 3
330 4
330 5
330 7
331 1
331 2
331 3
331 4
334 1
334 2
334 3
334 4
335 1
335 2
335 3A
335 4A
341 1
341 2
341 3
341 4
345 1
345 2
350 1
350 2
356 17
356 5
356 6
356 7
356 8
358 1
358 2
375 M4
377 4
377 5
377 9
389 3
389 4
399 **10A
399 **10B
399 10
399 11
399 12
399 13
399 14
400 1
400 10
400 11
400 12
400 13
400 14
400 15
400 16
400 2
400 3
400 4
400 5
400 6
400 9
404 1
404 2
404 3
404 4
404 6
404 7
408 3
408 4
408 5
408 6
408 7
420 B1
420 B2
420 B3
422 GT3
422 GT4
422 GT5
465 1
465 2
465 3
465 4
468 2
469 1
469 2
469 3
469 4
469 5
469 6
470 1
470 2
470 3
477 5
478 1
478 2
478 3
492 5
492 6
492 7
508 8
525 H1
525 H2
527 1
607 CT3
607 CT4
2176 GT-2
2187 2
2322 1
2322 11A
2322 11B
2322 12A
2322 12B
2322 13A
2322 13B
2322 14A
2322 14B
2322 15A
2322 15B
2322 16A
2322 16B
2322 17A
2322 17B
2322 18A
2322 18B
2322 19A
2322 19B
2322 2
2322 20A
2322 20B
2322 21A
2322 21B
2322 22A
2322 22B
2322 3
2324 1
2324 2
2324 3
2324 4
2326 1
2330 1
2330 2
2336 1
2336 2
2336 3
2336 4
2336 5
2336 6
2336 8
2336 9
2341 1
2341 2
2442 1
2442 2
2442 3
2442 4
2442 5
2444 6
2444 7
2444 8
2444 9
2446 051B
2450 1
2450 2
2450 3
2451 1
2451 2
2451 3
2451 4
2454 121B
2454 122B
2454 123T
2454 124T
3456 **4
3456 **5
3456 1
3456 2
3456 3
3456 GT-6A
3456 GT-6B
3644 1
3644 2
3648 1
3648 2
3648 3
3648 4
3648 4A
3648 5
3648 5A
3648 6
3648 6A
3648 7A
3648 8A
3845 30
3845 40
3845 50
3845 60
3845 BW21
3845 BW22
4158 BW41
4158 BW42
4158 BW43
4158 BW44
4162 1
4162 2
4162 3
4941 1
4941 2
4941 3
6013 1
6013 2
6021 C1
6021 C2
6021 C3
6076 1
6076 2
6076 3
6076 4
6089 B1
6101 BW91
6106 1SG
6112 2
6112 3
6112 4
6112 5
6112 6
6165 1
6165 2
6165 3
6177 U1B
6177 U2B
6204 1
6204 2
6204 3
6248 1
6481 1SGA
6481 2SGA
6761 101
6761 A
6761 B
6761 C
6761 D
6761 F
7082 **3
7082 **4
7082 **5
7082 **6
7266 1
7266 2
7307 5
7307 6
7315 1
7315 2
7315 3
7315 4
7350 CTG1
7350 CTG2
7449 NA1
7456 1
7456 2
7504 1
7504 CT1
7527 1
7527 2
7551 1A
7551 1B
7551 1C
7552 1
7605 1
7693 1
7870 CT1
7870 CT2
7870 CT3
7945 1
7953 CT1
7953 CT2
7953 CT3
7967 1
7967 2
7975 1
7975 2
7975 3
7975 4
7987 1
7999 1
7999 2
8066 BW71
8066 BW72
8066 BW73
8066 BW74
8068 5A
8068 5B
8068 6A
8069 1
8069 2
8219 1
8219 2
8219 3
8223 1
8223 2
8223 4
8223 TS3
8224 1
8224 2
10034 S-100
10156 GEN1
10169 D1
10294 2
10349 2
10350 1
10405 1
10649 GT1
10650 GT1
10682 GT2
10682 GT4
10682 GT5
10761 1
10761 2
10761 3
10761 4
10761 5
10784 CBLR
10812 CT1
50131 1
50707 S001
50707 S002
50707 S003
50707 S004
50707 S005
50864 1
50865 1
50931 BLR1
50931 BLR2
50951 1
54238 BIOMS1
54476 CT-1
54537 CT-1A
54537 CT-1B
54694 4101
54749 1
54761 1
54761 2
54768 GT1
54814 1
54814 2
54854 3
54854 4
54854 5
55039 GT-1
55077 EDE1
55077 EDE2
55103 CT1
55103 CT2
55112 CT01
55112 CT02
55124 P1
55124 P2
55127 CT1
55127 CT2
55129 DBG1
55129 DBG2
55151 CTG-1
55151 CTG-2
55151 CTG-3
55151 CTG-4
55177 A
55177 B
55179 CTGEN1
55182 CTG1
55182 CTG2
55200 CT5
55200 CT6
55207 CT7
55207 CT8
55210 1
55217 X724
55217 X725
55282 CTG1
55282 CTG2
55283 1
55283 2
55295 1
55295 2
55306 1CTGA
55306 1CTGB
55306 2CTGA
55306 2CTGB
55306 3CTGA
55306 3CTGB
55306 4CTGA
55306 4CTGB
55322 CTG-1
55322 CTG-2
55322 CTG-3
55322 CTG-4
55328 CTG-1
55328 CTG-2
55333 1
55333 2
55333 3
55343 CTG1
55343 CTG2
55345 CTG-1
55345 CTG-2
55372 CTG1
55372 CTG2
55372 CTG3
55393 1
55393 2
55400 CTG-1
55400 CTG-2
55453 1
55453 2
55453 3
55453 4
55453 5
55453 6
55455 CC1A
55455 CC1B
55455 CC2A
55455 CC2B
55477 CT2
55479 1
55481 1
55481 2
55481 5
55481 6
55482 CT-1
55494 CT1
55494 CT2
55494 CT3
55494 CT4
55494 CT5
55494 CT6
55499 GT-1
55499 GT-2
55504 L1
55504 L2
55505 BR1
55505 BR2
55508 GT-1
55508 GT-2
55510 GT-1
55510 GT-2
55512 GT-1
55512 GT-2
55513 GT-1
55513 GT-2
55514 CTG01
55514 CTG02
55518 CTG1
55518 CTG2
55518 CTG3
55522 CT01
55522 CT02
55522 CT03
55522 CT04
55522 CT05
55522 CT06
55522 CT07
55522 CT08
55522 CT09
55522 CT10
55538 CT1A
55538 CT1B
55538 CTG1
55540 1A
55540 1B
55541 1
55541 2
55541 3
55542 1
55542 2
55544 GT1
55544 GT2
55544 GT3
55544 GT4
55622 U1
55622 U2
55622 U3
55622 U4
55622 U5
55625 UNIT1
55626 UNIT1
55627 UNIT1
55645 CT-01
55645 CT-02
55656 CT001
55656 CT002
55656 CT004
55662 CT1
55662 CT2
55683 1
55687 BHG1
55687 BHG2
55698 HEP1
55698 HEP2
55700 CTG1
55704 1
55704 2
55704 3
55704 4
55704 5
55704 6
55704 7
55733 CT01
55748 CTG1
55748 CTG2
55748 CTG3
55748 CTG4
55749 U1
55802 CTG1
55807 HPP1
55807 HPP2
55810 S-3
55810 S-4
55810 S-5
55818 F1CT
55835 1
55835 2
55841 A01
55841 A03
55847 UNIT1
55853 1
55853 2
55855 UNIT1
55858 UNT1
55858 UNT2
55875 GT1
55933 TPP1
55933 TPP2
55951 AMP-1
55963 1
55970 2
55970 3
55977 CTG-1
55985 CTG1
55985 CTG2
56026 PCT1
56026 PCT2
56041 M1
56041 M2
56046 1
56078 1
56078 2
56102 CTG1A
56102 CTG1B
56135 1
56135 2
56143 1
56143 2
56143 3
56143 4
56177 U1
56224 1
56227 PWEU1
56232 1
56232 2
56237 CT01
56237 CT02
56237 CT03
56237 CT04
56239 GT-1
56239 GT-2
56253 MC-1
56253 MC-2
56298 CT001
56298 CT002
56319 1
56445 CT-01
56445 CT-02
56458 HOBB1
56458 HOBB2
56467 CT1
56467 CT2
56471 CT1
56472 CT1
56473 CT1
56474 CT1
56475 CT1
56476 GT1
56476 GT2
56482 1
56482 2
56532 CT1
56532 CT2
56569 1
56569 2
56596 1
56606 CT01
56609 1
56639 1
56639 2
56803 1
56803 2
56803 3
56803 4
56908 1A
56908 1B
56908 2A
56908 2B
56908 3A
56908 3B
56914 CTG1
56914 CTG2
56948 CT01
56948 CT02
56948 CT03
56948 CT04
56948 CT05
56948 CT06
56948 CT07
56948 CT08
56948 CT09
56948 CT10
56948 CT11
56948 CT12
56998 CT01
56998 CT02
56998 CT04
56998 CT05
56998 CT06
56998 CT07
56998 CT08
57001 1
57027 1
57027 2
57027 3
57027 4
57028 CT1
57073 BLR1
57074 BLR1
57075 BLR1
57267 1
57267 2
57267 3
57267 4
57480 HGS1
57482 1
57482 2
57482 3
57482 4
57482 5
57482 6
57482 7
57482 8
57483 GT-1
57483 GT-2
57483 GT-3
57483 GT-4
57515 GT1
57515 GT2
57515 GT3
57515 GT4
57515 GT5
57555 CTG1
57555 CTG2
57555 CTG3
57564 8
57703 CT01
57703 CT02
57703 CT03
57978 CT1
58122 GEN1
58284 1
58503 CTEU1
58562 GT-1
58562 GT-2
58562 GT-3
58562 GT-4

In [15]:
sumGen = pd.read_csv('sumGen.csv')
sumGen

     ORISPL_CODE UNITID   gen_06_08   gen_15_17
0            9.0  CTG-1    19878.69    71174.62
1           87.0      1  5398410.18  3656639.48
2          113.0      1  2765392.93  1143207.63
3          113.0      2  6683196.25  1210852.47
4          113.0      3  6785225.42  3096860.17
5          113.0      4  8938559.84  6122842.37
6          116.0      1   196178.32   209858.49
7          116.0      2   203546.14   172074.09
8          117.0    CC4   503796.10   455439.92
9          117.0   CC5A  1915665.16  2556854.10
10         117.0   CC5B  1997774.17  2490232.28
11         118.0      1   102917.13         NaN
12         118.0      2    95027.26         NaN
13         118.0    CT3    52752.76    45850.72
14         120.0      1   913320.02   629151.67
15         120.0    CT5    18137.90   155193.74
16         120.0    CT6    16011.45   151966.29
17         124.0    GT1    48557.47    18383.01
18         126.0      1   168229.23   109540.60
19         126.0      2   267530.01   177053.64
20         126.0      3   464361.52   457879.34
21         126.0      4  2369358.73  1492023.13
22         141.0      1   112474.40   113710.21
23         141.0      2   110959.85   103123.28
24         141.0      3   320566.22   169371.73
25         147.0    K-1         NaN         NaN
26         147.0    K-2         NaN         NaN
27         147.0    K-7  2554686.43  2840070.05
28         160.0      1   168023.53   151928.93
29         160.0      2  4648460.76  2629257.48
..           ...    ...         ...         ...
715          NaN    NaN         NaN   206112.58
716          NaN    NaN         NaN   185761.69
717          NaN    NaN         NaN   179562.82
718          NaN    NaN         NaN   162950.74
719          NaN    NaN         NaN   180998.97
720          NaN    NaN         NaN   165155.90
721          NaN    NaN         NaN    70733.93
722          NaN    NaN         NaN    70147.03
723          NaN    NaN         NaN    69798.91
724          NaN    NaN         NaN    69669.39
725          NaN    NaN         NaN   261196.75
726          NaN    NaN         NaN   254192.92
727          NaN    NaN         NaN   252019.25
728          NaN    NaN         NaN   209152.32
729          NaN    NaN         NaN   213807.91
730          NaN    NaN         NaN    55995.05
731          NaN    NaN         NaN    59415.67
732          NaN    NaN         NaN    59125.00
733          NaN    NaN         NaN     9988.35
734          NaN    NaN         NaN   123168.40
735          NaN    NaN         NaN   140206.96
736          NaN    NaN         NaN    10199.83
737          NaN    NaN         NaN  1755653.51
738          NaN    NaN         NaN    43633.81
739          NaN    NaN         NaN    30502.53
740          NaN    NaN         NaN  2625942.18
741          NaN    NaN         NaN   697547.79
742          NaN    NaN         NaN   638920.83
743          NaN    NaN         NaN   270720.92
744          NaN    NaN         NaN   224438.90

[745 rows x 4 columns]

How many plants have both before and after components?

In [16]:
sumGen_full = sumGen.dropna()
sumGen_full.shape

(470, 4)

In [17]:
sumGen_full.head()

   ORISPL_CODE UNITID   gen_06_08   gen_15_17
0          9.0  CTG-1    19878.69    71174.62
1         87.0      1  5398410.18  3656639.48
2        113.0      1  2765392.93  1143207.63
3        113.0      2  6683196.25  1210852.47
4        113.0      3  6785225.42  3096860.17

In [16]:
sumGen_full.isna().any()

ORISPL_CODE    False
UNITID         False
CF_06_08       False
CF_15_17       False
dtype: bool

__470__ plants were operational for both baseline periods! That's plenty for a meaningful comparison. Score!

Idea: Plot average capacity factor for all coal and all gas units over the 17 years. See what's changed.