## Generate data to fill monthly table

In [34]:
import mysql.connector
import pymysql
from sqlalchemy import create_engine
import time
import numbers
import numpy as np
import pandas as pd
import os.path
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.io import sql
sns.set()
sns.set_context("talk", rc={"font.size":16,"axes.titlesize":24,"axes.labelsize":20})

In [35]:
server = mysql.connector.connect(user="apark2",
                                 password="Mindinmsight@1",
                                 host="127.0.0.1",
                                 database="widap")
# Seems to only want 1 connection at a time, for one user. Otherwise, Interface Error
query = server.cursor(buffered=True)

In [23]:
def getUnitdata(orispl, unit):
    query = "SELECT \
                STATE, \
                ORISPL_CODE, \
                UNITID, \
                CONCAT(SUBSTR(OP_DATE, 1, 4), '_', SUBSTR(OP_DATE, 6, 2)) AS 'YEAR_MO', \
                CAST(gload as DECIMAL(8))*CAST(op_time as DECIMAL(8)) as GEN, \
                heat_input as HEAT_INPUT, \
                CO2_MASS, \
                SO2_MASS, \
                NOX_MASS \
            FROM \
                widap.data \
            WHERE ORISPL_CODE = " + str(orispl) + " AND UNITID = '" + str(unit) + "' \
            ORDER BY CONCAT(SUBSTR(OP_DATE, 1, 4), '_', SUBSTR(OP_DATE, 6, 2))"
    unitData = pd.read_sql(query, server)
    return unitData

##### Get describe() to apply to each year_mo

Note: pd treats NaNs as 0 for operations like sum(), but describe simply ignores them. Filling NaNs with 0 is a little confusing, because it replaces missing values and 0 values with 0, but it is the best solution.

To understand why, consider a group with 99 'NaNs' and 1 '1':
- Without filling NaNs with 0s:

$$ min, 25th, 50th, 75th, max = 1 $$

- After filling NaNs with 0s:

$$ min, 25th, 50th, 75th = 0 $$

$$ max = 1 $$

Which is more representative of the distribution?

##### Verify results from groupby + describe

##### Fix column labels and add to SQL_table

Flatten multiindex while combining column names

Note: Strip whitespace for when there is no second index.

Add back: STATE, ORISPL_CODE, UNITID

##### Put it all together and functionalize!

In [24]:
def getMonthlySummaryStats(orispl, unit):
    data = getUnitdata(orispl, unit)  # get data for a unit
    # get quartiles for each month
    quartiles = data.fillna(0).groupby('YEAR_MO').describe()
    quartiles.columns = ['_'.join(col).strip('%').strip() for col in quartiles.columns.values]  # simplify column names
    # Drop all col, mean, and std columns to save space
    toKeep = [C for C in quartiles.columns if ('count' not in C) and ('mean' not in C) and ('std' not in C) and ('ORISPL' not in C)]
    quartiles = quartiles[toKeep]
    # Add back: STATE, ORISPL_CODE, UNITID
    state_orispl_unit = data[['STATE', 'ORISPL_CODE', 'UNITID']].iloc[0,:].tolist()
    quartiles.insert(0, 'STATE', state_orispl_unit[0]) #['STATE'] = state_orispl_unit[0]
    quartiles.insert(1, 'ORISPL_CODE', state_orispl_unit[1])
    quartiles.insert(2, 'UNITID', state_orispl_unit[2])
    quartiles.reset_index(level=0, inplace=True)  # move YEAR_MO to column
    return quartiles

### Workflow:

1. Create table 'monthly' with first unit (only once).
2. For each unit:
    1. Read all data into python
    2. Summarize by year_mo with groupby and describe.
    3. Append summarized data to 'monthly'

In [25]:
def createMonthlyTable():
    query = "CREATE TABLE widap.monthly ( \
                            YEAR_MO char(7), \
                            STATE char(2), \
                            ORISPL_CODE int(11), \
                            UNITID char(16), \
                            CO2_MASS_min double, \
                            CO2_MASS_25 double, \
                            CO2_MASS_50 double, \
                            CO2_MASS_75 double, \
                            CO2_MASS_max double, \
                            NOX_MASS_min double, \
                            NOX_MASS_25 double, \
                            NOX_MASS_50 double, \
                            NOX_MASS_75 double, \
                            NOX_MASS_max double, \
                            SO2_MASS_min double, \
                            SO2_MASS_25 double, \
                            SO2_MASS_50 double, \
                            SO2_MASS_75 double, \
                            SO2_MASS_max double, \
                            GEN_min double, \
                            GEN_25 double, \
                            GEN_50 double, \
                            GEN_75 double, \
                            GEN_max double, \
                            HEAT_INPUT_min double, \
                            HEAT_INPUT_25 double, \
                            HEAT_INPUT_50 double, \
                            HEAT_INPUT_75 double, \
                            HEAT_INPUT_max double);"
    run = pd.read_sql(query, server)
    return

In [26]:
def addUnitToMonthly(orispl, unit, engine):
    toAdd = getMonthlySummaryStats(orispl, unit)
    for i, row in toAdd.iterrows():
        row = ["'" + str(j) + "'" if not (isinstance(j, float) or isinstance(j, int)) else float(j) for j in row]
        sql_str = ', '.join(map(str, row))
        engine.execute("INSERT INTO widap.monthly VALUES (" + sql_str + ")")
    return

Load all unit labels

In [27]:
WI_units = pd.read_csv('C:/Users/apark2/Documents/Year 2/Research/Analysis/Heat Rate Work/ORISPL_UNITID.csv')

Run for each unit and stick into MySQL table

In [30]:
createMonthlyTable()  # only run once -- already done.
# Will throw an error even if it works because it expects data to be returned.

TypeError: 'NoneType' object is not iterable

Connect thru MySQLdb syntax

In [28]:
engine = create_engine("mysql+pymysql://apark2:{0}@localhost/widap".format('Mindinmsight@1'), echo=False)

In [39]:
# Connect to db
user = 'apark2'
passw = 'Mindinmsight@1'
host =  'localhost'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'widap'
eng = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

t0 = time.time()
for i, row in WI_units.iterrows():  # loop thru list of plant orispl, unit labels
    t0_unit = time.time()
    plant_unit = [i[0] for i in zip(row)]
    print(plant_unit)
    # Check if that unit's in the monthly table already
    rowFromMonthly = engine.execute("SELECT * \
                FROM widap.monthly \
                WHERE ORISPL_CODE = " + str(plant_unit[0]) + " AND UNITID = '" + str(plant_unit[1]) + "' \
                LIMIT 1").fetchall()
    if rowFromMonthly: continue  # empty list is false --> if true, there's data for that unit
    # Only include units with data in widap.data
    noData = engine.execute("SELECT * \
                FROM widap.data \
                WHERE ORISPL_CODE = " + str(plant_unit[0]) + " AND UNITID = '" + str(plant_unit[1]) + "' \
                LIMIT 1").fetchall()
    if not noData: continue  # nothing to add --> move on
    data = getUnitdata(*plant_unit)
    addUnitToMonthly(*plant_unit, eng)
    print(round(time.time() - t0_unit, 4), ' (time to read, process, and write unit to monthly table)')
t1 = time.time()
print('Total time: ', t1 - t0)

[9, 'CTG-1']
[87, '1']
[113, '1']
[113, '2']
[113, '3']
[113, '4']
[116, '1']
[116, '2']
[117, 'CC4']
[117, 'CC5A']
[117, 'CC5B']
[118, '1']
[118, '2']
[118, 'CT3']
[120, '1']
[120, 'CT5']
[120, 'CT6']
[124, 'GT1']
[126, '1']
[126, '2']
[126, '3']
[126, '4']
[141, '1']
[141, '2']
[141, '3']
[147, 'K-1']
[147, 'K-2']
[147, 'K-7']
[160, '1']
[160, '2']
[160, '3']
[160, '4']
[228, '10']
[228, '9']
[246, '1']
[246, '2']
[247, '3']
[247, '4']
[247, '5']
[247, '6']
[247, '7']
[259, '1']
[259, '2']
[259, '3']
[259, '4']
[260, '1A']
[260, '2A']
[260, '3A']
[260, '4A']
[271, '1']
[271, '2']
[271, '3']
[271, '4']
[271, '5']
[271, '6']
[271, '7']
[302, '1']
[302, '2']
[302, '3']
[302, '4']
[302, '5']
[310, '1']
[310, '2']
[310, '3']
[310, '4']
[315, '1']
[315, '2']
[315, '3']
[315, '4']
[315, '5']
[315, '6']
[329, '1']
[329, '2']
[329, '31']
[329, '32']
[329, '41']
[329, '42']
[330, '1']
[330, '2']
[330, '3']
[330, '4']
[330, '5']
[330, '7']
[331, '1']
[331, '2']
[331, '3']
[331, '4']
[334, '1']
[334, '2']
[334, '3']
[334, '4']
[335, '1']
[335, '2']
[335, '3A']
[335, '4A']
[341, '1']
[341, '2']
[341, '3']
[341, '4']
[345, '1']
[345, '2']
[350, '1']
[350, '2']
[356, '17']
[356, '5']
[356, '6']
[356, '7']
[356, '8']
[358, '1']
[358, '2']
[375, 'M4']
[377, '4']
[377, '5']
[377, '9']
[389, '3']
[389, '4']
[399, '**10A']
[399, '**10B']
[399, '10']
[399, '11']
[399, '12']
[399, '13']
[399, '14']
[400, '1']
[400, '10']
[400, '11']
[400, '12']
[400, '13']
[400, '14']
[400, '15']
[400, '16']
[400, '2']
[400, '3']
[400, '4']
[400, '5']
[400, '6']
[400, '9']
[404, '1']
[404, '2']
[404, '3']
[404, '4']
[404, '6']
[404, '7']
[408, '3']
[408, '4']
[408, '5']
[408, '6']
[408, '7']
[420, 'B1']
[420, 'B2']
[420, 'B3']
[422, 'GT3']
[422, 'GT4']
[422, 'GT5']
[465, '1']
[465, '2']
[465, '3']
[465, '4']
[468, '2']
[469, '1']
[469, '2']
[469, '3']
[469, '4']
[469, '5']
[469, '6']
[470, '1']
[470, '2']
[470, '3']
[477, '5']
[478, '1']
[478, '2']
[478, '3']
[492, '5']
[492, '6']
[492, '7']
[508, '8']
[525, 'H1']
[525, 'H2']
[527, '1']
[607, 'CT3']
[607, 'CT4']
[2176, 'GT-2']
[2187, '2']
[2322, '1']
[2322, '11A']
[2322, '11B']
[2322, '12A']
[2322, '12B']
[2322, '13A']
[2322, '13B']
[2322, '14A']
[2322, '14B']
[2322, '15A']
[2322, '15B']
[2322, '16A']
[2322, '16B']
[2322, '17A']
[2322, '17B']
[2322, '18A']
[2322, '18B']
[2322, '19A']
[2322, '19B']
[2322, '2']
[2322, '20A']
[2322, '20B']
[2322, '21A']
[2322, '21B']
[2322, '22A']
[2322, '22B']
[2322, '3']
[2324, '1']
[2324, '2']
[2324, '3']
[2324, '4']
[2326, '1']
[2330, '1']
[2330, '2']
[2336, '1']
[2336, '2']
[2336, '3']
[2336, '4']
[2336, '5']
[2336, '6']
[2336, '8']
[2336, '9']
[2341, '1']
[2341, '2']
[2442, '1']
[2442, '2']
[2442, '3']
[2442, '4']
[2442, '5']
[2444, '6']
[2444, '7']
[2444, '8']
[2444, '9']
[2446, '051B']
[2450, '1']
[2450, '2']
[2450, '3']
[2451, '1']
[2451, '2']
[2451, '3']
[2451, '4']
[2454, '121B']
[2454, '122B']
[2454, '123T']
[2454, '124T']
[3456, '**4']
[3456, '**5']
[3456, '1']
[3456, '2']
[3456, '3']
[3456, 'GT-6A']
[3456, 'GT-6B']
[3644, '1']
[3644, '2']
[3648, '1']
[3648, '2']
[3648, '3']
[3648, '4']
[3648, '4A']
[3648, '5']
10.3413  (time to read, process, and write unit to monthly table)
[3648, '5A']
[3648, '6']
10.5147  (time to read, process, and write unit to monthly table)
[3648, '6A']
[3648, '7A']
[3648, '8A']
[3845, '30']
7.9937  (time to read, process, and write unit to monthly table)
[3845, '40']
8.0492  (time to read, process, and write unit to monthly table)
[3845, '50']
8.234  (time to read, process, and write unit to monthly table)
[3845, '60']
8.2074  (time to read, process, and write unit to monthly table)
[3845, 'BW21']
12.3387  (time to read, process, and write unit to monthly table)
[3845, 'BW22']
12.4221  (time to read, process, and write unit to monthly table)
[4158, 'BW41']
12.7341  (time to read, process, and write unit to monthly table)
[4158, 'BW42']
13.0162  (time to read, process, and write unit to monthly table)
[4158, 'BW43']
13.2796  (time to read, process, and write unit to monthly table)
[4158, 'BW44']
12.4395  (time to read, process, and write unit to monthly table)
[4162, '1']
12.5931  (time to read, process, and write unit to monthly table)
[4162, '2']
12.939  (time to read, process, and write unit to monthly table)
[4162, '3']
12.7341  (time to read, process, and write unit to monthly table)
[4941, '1']
12.7179  (time to read, process, and write unit to monthly table)
[4941, '2']
12.7863  (time to read, process, and write unit to monthly table)
[4941, '3']
12.5431  (time to read, process, and write unit to monthly table)
[6013, '1']
[6013, '2']
[6021, 'C1']
12.5202  (time to read, process, and write unit to monthly table)
[6021, 'C2']
12.7325  (time to read, process, and write unit to monthly table)
[6021, 'C3']
12.674  (time to read, process, and write unit to monthly table)
[6076, '1']
12.7941  (time to read, process, and write unit to monthly table)
[6076, '2']
12.4219  (time to read, process, and write unit to monthly table)
[6076, '3']
12.5712  (time to read, process, and write unit to monthly table)
[6076, '4']
12.3882  (time to read, process, and write unit to monthly table)
[6089, 'B1']
12.4498  (time to read, process, and write unit to monthly table)
[6101, 'BW91']
12.5778  (time to read, process, and write unit to monthly table)
[6106, '1SG']
12.2575  (time to read, process, and write unit to monthly table)
[6112, '2']
12.3688  (time to read, process, and write unit to monthly table)
[6112, '3']
12.2643  (time to read, process, and write unit to monthly table)
[6112, '4']
12.3843  (time to read, process, and write unit to monthly table)
[6112, '5']
5.912  (time to read, process, and write unit to monthly table)
[6112, '6']
5.6884  (time to read, process, and write unit to monthly table)
[6165, '1']
12.4663  (time to read, process, and write unit to monthly table)
[6165, '2']
12.5485  (time to read, process, and write unit to monthly table)
[6165, '3']
12.5942  (time to read, process, and write unit to monthly table)
[6177, 'U1B']
12.6139  (time to read, process, and write unit to monthly table)
[6177, 'U2B']
12.7137  (time to read, process, and write unit to monthly table)
[6204, '1']
12.2984  (time to read, process, and write unit to monthly table)
[6204, '2']
12.8585  (time to read, process, and write unit to monthly table)
[6204, '3']
12.4992  (time to read, process, and write unit to monthly table)
[6248, '1']
13.016  (time to read, process, and write unit to monthly table)
[6481, '1SGA']
12.5578  (time to read, process, and write unit to monthly table)
[6481, '2SGA']
12.4889  (time to read, process, and write unit to monthly table)
[6761, '101']
12.7929  (time to read, process, and write unit to monthly table)
[6761, 'A']
10.011  (time to read, process, and write unit to monthly table)
[6761, 'B']
9.6366  (time to read, process, and write unit to monthly table)
[6761, 'C']
10.3968  (time to read, process, and write unit to monthly table)
[6761, 'D']
10.4284  (time to read, process, and write unit to monthly table)
[6761, 'F']
6.5794  (time to read, process, and write unit to monthly table)
[7082, '**3']
11.2962  (time to read, process, and write unit to monthly table)
[7082, '**4']
8.0438  (time to read, process, and write unit to monthly table)
[7082, '**5']
5.1936  (time to read, process, and write unit to monthly table)
[7082, '**6']
5.1592  (time to read, process, and write unit to monthly table)
[7266, '1']
11.5254  (time to read, process, and write unit to monthly table)
[7266, '2']
10.7354  (time to read, process, and write unit to monthly table)
[7307, '5']
10.8274  (time to read, process, and write unit to monthly table)
[7307, '6']
4.8445  (time to read, process, and write unit to monthly table)
[7315, '1']
11.605  (time to read, process, and write unit to monthly table)
[7315, '2']
3.9075  (time to read, process, and write unit to monthly table)
[7315, '3']
3.8769  (time to read, process, and write unit to monthly table)
[7315, '4']
3.833  (time to read, process, and write unit to monthly table)
[7350, 'CTG1']
12.4493  (time to read, process, and write unit to monthly table)
[7350, 'CTG2']
10.2805  (time to read, process, and write unit to monthly table)
[7449, 'NA1']

11.3965  (time to read, process, and write unit to monthly table)
[7456, '1']
12.1641  (time to read, process, and write unit to monthly table)
[7456, '2']
11.0902  (time to read, process, and write unit to monthly table)
[7504, '1']
[7504, 'CT1']
11.283  (time to read, process, and write unit to monthly table)
[7527, '1']
12.5181  (time to read, process, and write unit to monthly table)
[7527, '2']
11.2337  (time to read, process, and write unit to monthly table)
[7551, '1A']
12.5941  (time to read, process, and write unit to monthly table)
[7551, '1B']
12.8752  (time to read, process, and write unit to monthly table)
[7551, '1C']
11.0776  (time to read, process, and write unit to monthly table)
[7552, '1']
12.3884  (time to read, process, and write unit to monthly table)
[7605, '1']
12.1584  (time to read, process, and write unit to monthly table)
[7693, '1']
11.2374  (time to read, process, and write unit to monthly table)
[7870, 'CT1']
8.0768  (time to read, process, and write unit to monthly table)
[7870, 'CT2']
7.8761  (time to read, process, and write unit to monthly table)
[7870, 'CT3']
7.9544  (time to read, process, and write unit to monthly table)
[7945, '1']
3.6058  (time to read, process, and write unit to monthly table)
[7953, 'CT1']
6.6086  (time to read, process, and write unit to monthly table)
[7953, 'CT2']
10.6844  (time to read, process, and write unit to monthly table)
[7953, 'CT3']
10.769  (time to read, process, and write unit to monthly table)
[7967, '1']
10.4598  (time to read, process, and write unit to monthly table)
[7967, '2']
10.1788  (time to read, process, and write unit to monthly table)
[7975, '1']
9.8472  (time to read, process, and write unit to monthly table)
[7975, '2']
10.4983  (time to read, process, and write unit to monthly table)
[7975, '3']
9.6418  (time to read, process, and write unit to monthly table)
[7975, '4']
9.713  (time to read, process, and write unit to monthly table)
[7987, '1']
[7999, '1']
6.6335  (time to read, process, and write unit to monthly table)
[7999, '2']
6.6845  (time to read, process, and write unit to monthly table)
[8066, 'BW71']
12.6602  (time to read, process, and write unit to monthly table)
[8066, 'BW72']
12.6977  (time to read, process, and write unit to monthly table)
[8066, 'BW73']
12.6124  (time to read, process, and write unit to monthly table)
[8066, 'BW74']
12.8825  (time to read, process, and write unit to monthly table)
[8068, '5A']
9.0702  (time to read, process, and write unit to monthly table)
[8068, '5B']
9.0626  (time to read, process, and write unit to monthly table)
[8068, '6A']
8.3907  (time to read, process, and write unit to monthly table)
[8069, '1']
12.244  (time to read, process, and write unit to monthly table)
[8069, '2']
12.5653  (time to read, process, and write unit to monthly table)
[8219, '1']
12.4243  (time to read, process, and write unit to monthly table)
[8219, '2']
10.9187  (time to read, process, and write unit to monthly table)
[8219, '3']
10.9107  (time to read, process, and write unit to monthly table)
[8223, '1']
12.4695  (time to read, process, and write unit to monthly table)
[8223, '2']
12.4686  (time to read, process, and write unit to monthly table)
[8223, '4']
6.3094  (time to read, process, and write unit to monthly table)
[8223, 'TS3']
8.7206  (time to read, process, and write unit to monthly table)
[8224, '1']
12.3654  (time to read, process, and write unit to monthly table)
[8224, '2']
12.4787  (time to read, process, and write unit to monthly table)
[10034, 'S-100']
8.47  (time to read, process, and write unit to monthly table)
[10156, 'GEN1']
9.2172  (time to read, process, and write unit to monthly table)
[10169, 'D1']
10.1099  (time to read, process, and write unit to monthly table)
[10294, '2']
10.1868  (time to read, process, and write unit to monthly table)
[10349, '2']
10.2998  (time to read, process, and write unit to monthly table)
[10350, '1']
3.9026  (time to read, process, and write unit to monthly table)
[10405, '1']
3.9369  (time to read, process, and write unit to monthly table)
[10649, 'GT1']
[10650, 'GT1']
[10682, 'GT2']
10.9875  (time to read, process, and write unit to monthly table)
[10682, 'GT4']
9.8469  (time to read, process, and write unit to monthly table)
[10682, 'GT5']
9.8135  (time to read, process, and write unit to monthly table)
[10761, '1']
6.9678  (time to read, process, and write unit to monthly table)
[10761, '2']
10.4069  (time to read, process, and write unit to monthly table)
[10761, '3']
10.2645  (time to read, process, and write unit to monthly table)
[10761, '4']
10.3767  (time to read, process, and write unit to monthly table)
[10761, '5']
10.4213  (time to read, process, and write unit to monthly table)
[10784, 'CBLR']
[10812, 'CT1']
3.4571  (time to read, process, and write unit to monthly table)
[50131, '1']
7.8126  (time to read, process, and write unit to monthly table)
[50707, 'S001']
6.0701  (time to read, process, and write unit to monthly table)
[50707, 'S002']
5.7575  (time to read, process, and write unit to monthly table)
[50707, 'S003']
5.9024  (time to read, process, and write unit to monthly table)
[50707, 'S004']
5.8514  (time to read, process, and write unit to monthly table)
[50707, 'S005']
5.7933  (time to read, process, and write unit to monthly table)
[50864, '1']
7.8282  (time to read, process, and write unit to monthly table)
[50865, '1']
7.8127  (time to read, process, and write unit to monthly table)
[50931, 'BLR1']
[50931, 'BLR2']
[50951, '1']
1.7156  (time to read, process, and write unit to monthly table)
[54238, 'BIOMS1']
3.0921  (time to read, process, and write unit to monthly table)
[54476, 'CT-1']
6.2791  (time to read, process, and write unit to monthly table)
[54537, 'CT-1A']
3.7683  (time to read, process, and write unit to monthly table)
[54537, 'CT-1B']
3.7971  (time to read, process, and write unit to monthly table)
[54694, '4101']
1.2812  (time to read, process, and write unit to monthly table)
[54749, '1']
1.2715  (time to read, process, and write unit to monthly table)
[54761, '1']
12.2379  (time to read, process, and write unit to monthly table)
[54761, '2']
12.3185  (time to read, process, and write unit to monthly table)
[54768, 'GT1']
[54814, '1']
10.685  (time to read, process, and write unit to monthly table)
[54814, '2']
11.1747  (time to read, process, and write unit to monthly table)
[54854, '3']
2.0117  (time to read, process, and write unit to monthly table)
[54854, '4']
1.7677  (time to read, process, and write unit to monthly table)
[54854, '5']
1.8189  (time to read, process, and write unit to monthly table)
[55039, 'GT-1']
11.0385  (time to read, process, and write unit to monthly table)
[55077, 'EDE1']
12.2379  (time to read, process, and write unit to monthly table)
[55077, 'EDE2']
12.5007  (time to read, process, and write unit to monthly table)
[55103, 'CT1']
11.906  (time to read, process, and write unit to monthly table)
[55103, 'CT2']
11.7834  (time to read, process, and write unit to monthly table)
[55112, 'CT01']
11.7627  (time to read, process, and write unit to monthly table)
[55112, 'CT02']
11.6747  (time to read, process, and write unit to monthly table)
[55124, 'P1']
11.2316  (time to read, process, and write unit to monthly table)
[55124, 'P2']
11.2187  (time to read, process, and write unit to monthly table)
[55127, 'CT1']
11.2483  (time to read, process, and write unit to monthly table)
[55127, 'CT2']
11.3149  (time to read, process, and write unit to monthly table)
[55129, 'DBG1']
11.4994  (time to read, process, and write unit to monthly table)
[55129, 'DBG2']
11.0787  (time to read, process, and write unit to monthly table)
[55151, 'CTG-1']
11.241  (time to read, process, and write unit to monthly table)
[55151, 'CTG-2']
11.6657  (time to read, process, and write unit to monthly table)
[55151, 'CTG-3']
11.0925  (time to read, process, and write unit to monthly table)
[55151, 'CTG-4']
10.7977  (time to read, process, and write unit to monthly table)
[55177, 'A']
11.5343  (time to read, process, and write unit to monthly table)
[55177, 'B']
11.5423  (time to read, process, and write unit to monthly table)
[55179, 'CTGEN1']

11.7812  (time to read, process, and write unit to monthly table)
[55182, 'CTG1']
11.8971  (time to read, process, and write unit to monthly table)
[55182, 'CTG2']
11.7784  (time to read, process, and write unit to monthly table)
[55200, 'CT5']
11.6203  (time to read, process, and write unit to monthly table)
[55200, 'CT6']
11.4048  (time to read, process, and write unit to monthly table)
[55207, 'CT7']
11.3456  (time to read, process, and write unit to monthly table)
[55207, 'CT8']
11.2508  (time to read, process, and write unit to monthly table)
[55210, '1']
[55217, 'X724']
11.8274  (time to read, process, and write unit to monthly table)
[55217, 'X725']
12.3807  (time to read, process, and write unit to monthly table)
[55282, 'CTG1']
10.8703  (time to read, process, and write unit to monthly table)
[55282, 'CTG2']
10.8269  (time to read, process, and write unit to monthly table)
[55283, '1']
10.9064  (time to read, process, and write unit to monthly table)
[55283, '2']
10.5401  (time to read, process, and write unit to monthly table)
[55295, '1']
10.2698  (time to read, process, and write unit to monthly table)
[55295, '2']
10.1669  (time to read, process, and write unit to monthly table)
[55306, '1CTGA']
10.0236  (time to read, process, and write unit to monthly table)
[55306, '1CTGB']
10.0465  (time to read, process, and write unit to monthly table)
[55306, '2CTGA']
10.1247  (time to read, process, and write unit to monthly table)
[55306, '2CTGB']
9.8912  (time to read, process, and write unit to monthly table)
[55306, '3CTGA']
10.4619  (time to read, process, and write unit to monthly table)
[55306, '3CTGB']
10.0629  (time to read, process, and write unit to monthly table)
[55306, '4CTGA']
10.4917  (time to read, process, and write unit to monthly table)
[55306, '4CTGB']
10.4677  (time to read, process, and write unit to monthly table)
[55322, 'CTG-1']
8.8565  (time to read, process, and write unit to monthly table)
[55322, 'CTG-2']
8.9556  (time to read, process, and write unit to monthly table)
[55322, 'CTG-3']
9.0002  (time to read, process, and write unit to monthly table)
[55322, 'CTG-4']
8.929  (time to read, process, and write unit to monthly table)
[55328, 'CTG-1']
11.1293  (time to read, process, and write unit to monthly table)
[55328, 'CTG-2']
11.0034  (time to read, process, and write unit to monthly table)
[55333, '1']
11.6054  (time to read, process, and write unit to monthly table)
[55333, '2']
12.2855  (time to read, process, and write unit to monthly table)
[55333, '3']
11.5315  (time to read, process, and write unit to monthly table)
[55343, 'CTG1']
8.5314  (time to read, process, and write unit to monthly table)
[55343, 'CTG2']
8.4373  (time to read, process, and write unit to monthly table)
[55345, 'CTG-1']
6.3295  (time to read, process, and write unit to monthly table)
[55345, 'CTG-2']
6.2799  (time to read, process, and write unit to monthly table)
[55372, 'CTG1']
9.656  (time to read, process, and write unit to monthly table)
[55372, 'CTG2']
9.7504  (time to read, process, and write unit to monthly table)
[55372, 'CTG3']
9.632  (time to read, process, and write unit to monthly table)
[55393, '1']
9.165  (time to read, process, and write unit to monthly table)
[55393, '2']
9.0905  (time to read, process, and write unit to monthly table)
[55400, 'CTG-1']
11.4201  (time to read, process, and write unit to monthly table)
[55400, 'CTG-2']
11.0053  (time to read, process, and write unit to monthly table)
[55453, '1']
11.1579  (time to read, process, and write unit to monthly table)
[55453, '2']
10.9966  (time to read, process, and write unit to monthly table)
[55453, '3']
10.9847  (time to read, process, and write unit to monthly table)
[55453, '4']
10.6097  (time to read, process, and write unit to monthly table)
[55453, '5']
10.8908  (time to read, process, and write unit to monthly table)
[55453, '6']
10.8302  (time to read, process, and write unit to monthly table)
[55455, 'CC1A']
11.2007  (time to read, process, and write unit to monthly table)
[55455, 'CC1B']
11.4532  (time to read, process, and write unit to monthly table)
[55455, 'CC2A']
11.0623  (time to read, process, and write unit to monthly table)
[55455, 'CC2B']
11.025  (time to read, process, and write unit to monthly table)
[55477, 'CT2']
10.7248  (time to read, process, and write unit to monthly table)
[55479, '1']
[55481, '1']
10.4884  (time to read, process, and write unit to monthly table)
[55481, '2']
10.7265  (time to read, process, and write unit to monthly table)
[55481, '5']
10.3034  (time to read, process, and write unit to monthly table)
[55481, '6']
10.2319  (time to read, process, and write unit to monthly table)
[55482, 'CT-1']
9.4879  (time to read, process, and write unit to monthly table)
[55494, 'CT1']
4.6069  (time to read, process, and write unit to monthly table)
[55494, 'CT2']
4.6111  (time to read, process, and write unit to monthly table)
[55494, 'CT3']
9.6401  (time to read, process, and write unit to monthly table)
[55494, 'CT4']
9.6875  (time to read, process, and write unit to monthly table)
[55494, 'CT5']
9.6879  (time to read, process, and write unit to monthly table)
[55494, 'CT6']
9.7036  (time to read, process, and write unit to monthly table)
[55499, 'GT-1']
10.1456  (time to read, process, and write unit to monthly table)
[55499, 'GT-2']
[55504, 'L1']
10.3782  (time to read, process, and write unit to monthly table)
[55504, 'L2']
10.4231  (time to read, process, and write unit to monthly table)
[55505, 'BR1']
10.343  (time to read, process, and write unit to monthly table)
[55505, 'BR2']
10.3762  (time to read, process, and write unit to monthly table)
[55508, 'GT-1']
10.4205  (time to read, process, and write unit to monthly table)
[55508, 'GT-2']
[55510, 'GT-1']
10.4228  (time to read, process, and write unit to monthly table)
[55510, 'GT-2']
[55512, 'GT-1']
10.0934  (time to read, process, and write unit to monthly table)
[55512, 'GT-2']
[55513, 'GT-1']
10.3658  (time to read, process, and write unit to monthly table)
[55513, 'GT-2']
[55514, 'CTG01']
10.8571  (time to read, process, and write unit to monthly table)
[55514, 'CTG02']
10.2973  (time to read, process, and write unit to monthly table)
[55518, 'CTG1']
10.5212  (time to read, process, and write unit to monthly table)
[55518, 'CTG2']
10.7755  (time to read, process, and write unit to monthly table)
[55518, 'CTG3']
10.6248  (time to read, process, and write unit to monthly table)
[55522, 'CT01']
10.1093  (time to read, process, and write unit to monthly table)
[55522, 'CT02']
10.2982  (time to read, process, and write unit to monthly table)
[55522, 'CT03']
10.1522  (time to read, process, and write unit to monthly table)
[55522, 'CT04']
10.1329  (time to read, process, and write unit to monthly table)
[55522, 'CT05']
10.5889  (time to read, process, and write unit to monthly table)
[55522, 'CT06']
10.1561  (time to read, process, and write unit to monthly table)
[55522, 'CT07']
10.6568  (time to read, process, and write unit to monthly table)
[55522, 'CT08']
10.4375  (time to read, process, and write unit to monthly table)
[55522, 'CT09']
10.2388  (time to read, process, and write unit to monthly table)
[55522, 'CT10']
10.1006  (time to read, process, and write unit to monthly table)
[55538, 'CT1A']
7.8588  (time to read, process, and write unit to monthly table)
[55538, 'CT1B']
7.5986  (time to read, process, and write unit to monthly table)
[55538, 'CTG1']
2.5782  (time to read, process, and write unit to monthly table)
[55540, '1A']
10.6198  (time to read, process, and write unit to monthly table)
[55540, '1B']
10.7858  (time to read, process, and write unit to monthly table)
[55541, '1']
10.6875  (time to read, process, and write unit to monthly table)
[55541, '2']
10.9844  (time to read, process, and write unit to monthly table)
[55541, '3']
10.8824  (time to read, process, and write unit to monthly table)
[55542, '1']
11.5558  (time to read, process, and write unit to monthly table)
[55542, '2']
11.0624  (time to read, process, and write unit to monthly table)
[55544, 'GT1']
10.048  (time to read, process, and write unit to monthly table)
[55544, 'GT2']

10.0786  (time to read, process, and write unit to monthly table)
[55544, 'GT3']
10.3087  (time to read, process, and write unit to monthly table)
[55544, 'GT4']
10.0946  (time to read, process, and write unit to monthly table)
[55622, 'U1']
10.642  (time to read, process, and write unit to monthly table)
[55622, 'U2']
10.912  (time to read, process, and write unit to monthly table)
[55622, 'U3']
11.0415  (time to read, process, and write unit to monthly table)
[55622, 'U4']
11.2811  (time to read, process, and write unit to monthly table)
[55622, 'U5']
11.7333  (time to read, process, and write unit to monthly table)
[55625, 'UNIT1']
13.9393  (time to read, process, and write unit to monthly table)
[55626, 'UNIT1']
14.7342  (time to read, process, and write unit to monthly table)
[55627, 'UNIT1']
12.8282  (time to read, process, and write unit to monthly table)
[55645, 'CT-01']
14.6877  (time to read, process, and write unit to monthly table)
[55645, 'CT-02']
14.4047  (time to read, process, and write unit to monthly table)
[55656, 'CT001']
13.4216  (time to read, process, and write unit to monthly table)
[55656, 'CT002']
13.8255  (time to read, process, and write unit to monthly table)
[55656, 'CT004']
14.4262  (time to read, process, and write unit to monthly table)
[55662, 'CT1']
15.374  (time to read, process, and write unit to monthly table)
[55662, 'CT2']
15.0311  (time to read, process, and write unit to monthly table)
[55683, '1']
3.7496  (time to read, process, and write unit to monthly table)
[55687, 'BHG1']
14.8296  (time to read, process, and write unit to monthly table)
[55687, 'BHG2']
14.8173  (time to read, process, and write unit to monthly table)
[55698, 'HEP1']
15.6819  (time to read, process, and write unit to monthly table)
[55698, 'HEP2']
15.6715  (time to read, process, and write unit to monthly table)
[55700, 'CTG1']
9.9361  (time to read, process, and write unit to monthly table)
[55704, '1']
[55704, '2']
[55704, '3']
[55704, '4']
[55704, '5']
[55704, '6']
[55704, '7']
[55733, 'CT01']
10.6883  (time to read, process, and write unit to monthly table)
[55748, 'CTG1']
13.7491  (time to read, process, and write unit to monthly table)
[55748, 'CTG2']
14.8118  (time to read, process, and write unit to monthly table)
[55748, 'CTG3']
13.6214  (time to read, process, and write unit to monthly table)
[55748, 'CTG4']
13.8846  (time to read, process, and write unit to monthly table)
[55749, 'U1']
11.8777  (time to read, process, and write unit to monthly table)
[55802, 'CTG1']
8.711  (time to read, process, and write unit to monthly table)
[55807, 'HPP1']
14.1075  (time to read, process, and write unit to monthly table)
[55807, 'HPP2']
15.5166  (time to read, process, and write unit to monthly table)
[55810, 'S-3']
15.6606  (time to read, process, and write unit to monthly table)
[55810, 'S-4']
17.1892  (time to read, process, and write unit to monthly table)
[55810, 'S-5']
14.8581  (time to read, process, and write unit to monthly table)
[55818, 'F1CT']
14.6841  (time to read, process, and write unit to monthly table)
[55835, '1']
13.453  (time to read, process, and write unit to monthly table)
[55835, '2']
12.9091  (time to read, process, and write unit to monthly table)
[55841, 'A01']
14.0625  (time to read, process, and write unit to monthly table)
[55841, 'A03']
13.2159  (time to read, process, and write unit to monthly table)
[55847, 'UNIT1']
12.6933  (time to read, process, and write unit to monthly table)
[55853, '1']
8.5723  (time to read, process, and write unit to monthly table)
[55853, '2']
7.1081  (time to read, process, and write unit to monthly table)
[55855, 'UNIT1']
12.431  (time to read, process, and write unit to monthly table)
[55858, 'UNT1']
5.2097  (time to read, process, and write unit to monthly table)
[55858, 'UNT2']
5.0002  (time to read, process, and write unit to monthly table)
[55875, 'GT1']
9.3466  (time to read, process, and write unit to monthly table)
[55933, 'TPP1']
12.5214  (time to read, process, and write unit to monthly table)
[55933, 'TPP2']
12.5517  (time to read, process, and write unit to monthly table)
[55951, 'AMP-1']
12.4195  (time to read, process, and write unit to monthly table)
[55963, '1']
12.1141  (time to read, process, and write unit to monthly table)
[55970, '2']
11.5937  (time to read, process, and write unit to monthly table)
[55970, '3']
14.4694  (time to read, process, and write unit to monthly table)
[55977, 'CTG-1']
12.3279  (time to read, process, and write unit to monthly table)
[55985, 'CTG1']
11.296  (time to read, process, and write unit to monthly table)
[55985, 'CTG2']
11.5939  (time to read, process, and write unit to monthly table)
[56026, 'PCT1']
11.48  (time to read, process, and write unit to monthly table)
[56026, 'PCT2']
11.5516  (time to read, process, and write unit to monthly table)
[56041, 'M1']
11.9826  (time to read, process, and write unit to monthly table)
[56041, 'M2']
12.4878  (time to read, process, and write unit to monthly table)
[56046, '1']
12.0816  (time to read, process, and write unit to monthly table)
[56078, '1']
11.307  (time to read, process, and write unit to monthly table)
[56078, '2']
11.714  (time to read, process, and write unit to monthly table)
[56102, 'CTG1A']
12.0311  (time to read, process, and write unit to monthly table)
[56102, 'CTG1B']
11.9742  (time to read, process, and write unit to monthly table)
[56135, '1']
9.7329  (time to read, process, and write unit to monthly table)
[56135, '2']
10.0008  (time to read, process, and write unit to monthly table)
[56143, '1']
9.7808  (time to read, process, and write unit to monthly table)
[56143, '2']
10.0635  (time to read, process, and write unit to monthly table)
[56143, '3']
6.3119  (time to read, process, and write unit to monthly table)
[56143, '4']
6.4527  (time to read, process, and write unit to monthly table)
[56177, 'U1']
12.3276  (time to read, process, and write unit to monthly table)
[56224, '1']
[56227, 'PWEU1']
9.5458  (time to read, process, and write unit to monthly table)
[56232, '1']
11.3016  (time to read, process, and write unit to monthly table)
[56232, '2']
8.2455  (time to read, process, and write unit to monthly table)
[56237, 'CT01']
9.8715  (time to read, process, and write unit to monthly table)
[56237, 'CT02']
10.0334  (time to read, process, and write unit to monthly table)
[56237, 'CT03']
3.7097  (time to read, process, and write unit to monthly table)
[56237, 'CT04']
3.6799  (time to read, process, and write unit to monthly table)
[56239, 'GT-1']
10.3052  (time to read, process, and write unit to monthly table)
[56239, 'GT-2']
10.6504  (time to read, process, and write unit to monthly table)
[56253, 'MC-1']
10.0149  (time to read, process, and write unit to monthly table)
[56253, 'MC-2']
6.8799  (time to read, process, and write unit to monthly table)
[56298, 'CT001']
9.6834  (time to read, process, and write unit to monthly table)
[56298, 'CT002']
9.6484  (time to read, process, and write unit to monthly table)
[56319, '1']
[56445, 'CT-01']
9.2499  (time to read, process, and write unit to monthly table)
[56445, 'CT-02']
9.22  (time to read, process, and write unit to monthly table)
[56458, 'HOBB1']
9.2452  (time to read, process, and write unit to monthly table)
[56458, 'HOBB2']
9.1175  (time to read, process, and write unit to monthly table)
[56467, 'CT1']
4.6207  (time to read, process, and write unit to monthly table)
[56467, 'CT2']
4.5221  (time to read, process, and write unit to monthly table)
[56471, 'CT1']
4.5117  (time to read, process, and write unit to monthly table)
[56472, 'CT1']
8.8867  (time to read, process, and write unit to monthly table)
[56473, 'CT1']
9.0121  (time to read, process, and write unit to monthly table)
[56474, 'CT1']
9.1754  (time to read, process, and write unit to monthly table)
[56475, 'CT1']
9.0886  (time to read, process, and write unit to monthly table)
[56476, 'GT1']
8.8803  (time to read, process, and write unit to monthly table)
[56476, 'GT2']
8.7498  (time to read, process, and write unit to monthly table)
[56482, '1']
8.2667  (time to read, process, and write unit to monthly table)
[56482, '2']
8.1085  (time to read, process, and write unit to monthly table)
[56532, 'CT1']

6.9967  (time to read, process, and write unit to monthly table)
[56532, 'CT2']
6.7691  (time to read, process, and write unit to monthly table)
[56569, '1']
8.2517  (time to read, process, and write unit to monthly table)
[56569, '2']
7.9359  (time to read, process, and write unit to monthly table)
[56596, '1']
[56606, 'CT01']
6.3934  (time to read, process, and write unit to monthly table)
[56609, '1']
[56639, '1']
7.3611  (time to read, process, and write unit to monthly table)
[56639, '2']
7.5457  (time to read, process, and write unit to monthly table)
[56803, '1']
7.2197  (time to read, process, and write unit to monthly table)
[56803, '2']
7.2333  (time to read, process, and write unit to monthly table)
[56803, '3']
7.0  (time to read, process, and write unit to monthly table)
[56803, '4']
7.0002  (time to read, process, and write unit to monthly table)
[56908, '1A']
6.2635  (time to read, process, and write unit to monthly table)
[56908, '1B']
6.0975  (time to read, process, and write unit to monthly table)
[56908, '2A']
5.2846  (time to read, process, and write unit to monthly table)
[56908, '2B']
5.4486  (time to read, process, and write unit to monthly table)
[56908, '3A']
5.7015  (time to read, process, and write unit to monthly table)
[56908, '3B']
5.6891  (time to read, process, and write unit to monthly table)
[56914, 'CTG1']
5.5932  (time to read, process, and write unit to monthly table)
[56914, 'CTG2']
5.8713  (time to read, process, and write unit to monthly table)
[56948, 'CT01']
5.2228  (time to read, process, and write unit to monthly table)
[56948, 'CT02']
5.2498  (time to read, process, and write unit to monthly table)
[56948, 'CT03']
6.3785  (time to read, process, and write unit to monthly table)
[56948, 'CT04']
5.7964  (time to read, process, and write unit to monthly table)
[56948, 'CT05']
6.3881  (time to read, process, and write unit to monthly table)
[56948, 'CT06']
6.3744  (time to read, process, and write unit to monthly table)
[56948, 'CT07']
6.4569  (time to read, process, and write unit to monthly table)
[56948, 'CT08']
5.2152  (time to read, process, and write unit to monthly table)
[56948, 'CT09']
5.1717  (time to read, process, and write unit to monthly table)
[56948, 'CT10']
6.1328  (time to read, process, and write unit to monthly table)
[56948, 'CT11']
6.2123  (time to read, process, and write unit to monthly table)
[56948, 'CT12']
5.6859  (time to read, process, and write unit to monthly table)
[56998, 'CT01']
4.2507  (time to read, process, and write unit to monthly table)
[56998, 'CT02']
4.9811  (time to read, process, and write unit to monthly table)
[56998, 'CT04']
5.9851  (time to read, process, and write unit to monthly table)
[56998, 'CT05']
5.7991  (time to read, process, and write unit to monthly table)
[56998, 'CT06']
5.499  (time to read, process, and write unit to monthly table)
[56998, 'CT07']
5.3445  (time to read, process, and write unit to monthly table)
[56998, 'CT08']
1.7801  (time to read, process, and write unit to monthly table)
[57001, '1']
5.7831  (time to read, process, and write unit to monthly table)
[57027, '1']
5.8587  (time to read, process, and write unit to monthly table)
[57027, '2']
5.0783  (time to read, process, and write unit to monthly table)
[57027, '3']
4.766  (time to read, process, and write unit to monthly table)
[57027, '4']
4.7512  (time to read, process, and write unit to monthly table)
[57028, 'CT1']
5.0294  (time to read, process, and write unit to monthly table)
[57073, 'BLR1']
4.1999  (time to read, process, and write unit to monthly table)
[57074, 'BLR1']
4.55  (time to read, process, and write unit to monthly table)
[57075, 'BLR1']
4.0323  (time to read, process, and write unit to monthly table)
[57267, '1']
4.437  (time to read, process, and write unit to monthly table)
[57267, '2']
4.6092  (time to read, process, and write unit to monthly table)
[57267, '3']
4.1388  (time to read, process, and write unit to monthly table)
[57267, '4']
4.1589  (time to read, process, and write unit to monthly table)
[57480, 'HGS1']
2.0621  (time to read, process, and write unit to monthly table)
[57482, '1']
4.3689  (time to read, process, and write unit to monthly table)
[57482, '2']
4.8206  (time to read, process, and write unit to monthly table)
[57482, '3']
4.607  (time to read, process, and write unit to monthly table)
[57482, '4']
4.4069  (time to read, process, and write unit to monthly table)
[57482, '5']
4.516  (time to read, process, and write unit to monthly table)
[57482, '6']
4.4627  (time to read, process, and write unit to monthly table)
[57482, '7']
4.4427  (time to read, process, and write unit to monthly table)
[57482, '8']
4.3122  (time to read, process, and write unit to monthly table)
[57483, 'GT-1']
4.8751  (time to read, process, and write unit to monthly table)
[57483, 'GT-2']
4.5249  (time to read, process, and write unit to monthly table)
[57483, 'GT-3']
4.7876  (time to read, process, and write unit to monthly table)
[57483, 'GT-4']
4.7324  (time to read, process, and write unit to monthly table)
[57515, 'GT1']
4.1273  (time to read, process, and write unit to monthly table)
[57515, 'GT2']
4.3326  (time to read, process, and write unit to monthly table)
[57515, 'GT3']
4.2454  (time to read, process, and write unit to monthly table)
[57515, 'GT4']
4.2028  (time to read, process, and write unit to monthly table)
[57515, 'GT5']
3.7839  (time to read, process, and write unit to monthly table)
[57555, 'CTG1']
1.3129  (time to read, process, and write unit to monthly table)
[57555, 'CTG2']
1.2573  (time to read, process, and write unit to monthly table)
[57555, 'CTG3']
1.2521  (time to read, process, and write unit to monthly table)
[57564, '8']
0.5023  (time to read, process, and write unit to monthly table)
[57703, 'CT01']
2.0854  (time to read, process, and write unit to monthly table)
[57703, 'CT02']
2.2225  (time to read, process, and write unit to monthly table)
[57703, 'CT03']
2.1004  (time to read, process, and write unit to monthly table)
[57978, 'CT1']
3.9237  (time to read, process, and write unit to monthly table)
[58122, 'GEN1']
3.3412  (time to read, process, and write unit to monthly table)
[58284, '1']
1.6104  (time to read, process, and write unit to monthly table)
[58503, 'CTEU1']
1.5298  (time to read, process, and write unit to monthly table)
[58562, 'GT-1']
2.4222  (time to read, process, and write unit to monthly table)
[58562, 'GT-2']
2.6248  (time to read, process, and write unit to monthly table)
[58562, 'GT-3']
1.6405  (time to read, process, and write unit to monthly table)
[58562, 'GT-4']
1.3125  (time to read, process, and write unit to monthly table)
Total time:  4189.337737083435

Units with no data (non-exhaustive):
1. Gadsby, UT: 3648, '4A'

In [41]:
if not []:
    print('false if empty!')

false if empty!

In [40]:
4189.33/60  # min to run the rest of the table

69.82216666666666

What to do about partial months?